.Cardholder {
  height: 630px;
  width: 1170px;
  background-image: url('../media/rebelSymbol.jpg');
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
